/* Imports */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&display=swap');
/* /Poppins */

/* Sacremento */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&family=Sacramento&display=swap');
/* /Sacremento */

/* Hachi Maru Pop */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&family=Sacramento&display=swap');
/* /Hachi Maru Pop */

/* /Imports */

/* Fonts */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
/* /Fonts */

/* 
  Colors

    Body color: #caad84
	  Container color: #d5ba99
    Text color: 
    Title color: 
    Drop shadow color:

*/


/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* /Universal Selector */


/* Document */
html, body {
  background-image: url("./images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* /Document */


/* Main */
main {
  width: 100%;
  max-width: 1728px;
  height: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* /Main */

/* Universal Section Style */
.section {
  width: 100%;
  max-width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* /Universal Section Style */

/* About Image Container */
#about-images {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* About image container */
.about-image {
  height: 680px;
  flex: 1;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  position: relative;
  transition: flex 0.4s ease-in 0.1s;
  box-shadow: 0 0 2.5px 1px #111;
}

/* About image active */
.about-image.active {
  flex: 5;
}

/* About header images */
#about-image-1 {
  background: url("https://images.pexels.com/photos/25682484/pexels-photo-25682484/free-photo-of-close-up-of-people-with-their-hands-painted-with-variety-of-colors.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#about-image-2 {
  background: url("https://images.pexels.com/photos/29670757/pexels-photo-29670757/free-photo-of-traditional-wooden-masks-display-in-hoi-an.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#about-image-3 {
  background: url("https://images.pexels.com/photos/29633903/pexels-photo-29633903/free-photo-of-crafting-holiday-wreath-with-pinecones-and-berries.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#about-image-4 {
  background: url("https://images.pexels.com/photos/4219654/pexels-photo-4219654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#about-image-5 {
  background: url("https://images.pexels.com/photos/6694344/pexels-photo-6694344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

/* /About Image Container */


/* About Text Containers */

/* Title */
.about-text-title {
  padding: 2rem 4rem;
  font-size: 48px;
}
/* /Title */

/* Content containers */
.about-text-section {
  display: flex;
  flex-direction: column;
}

.about-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #FFF7F1;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #222;
  }

.about-text-section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 80px 50px;
}
/* /Content containers */

/* Content container title */
.about-text-paragraph-title {
  font-size: 38px;
}
/* /Content container title */

/* Content container text */
.about-text-paragraph {
  font-size: 20px;
  padding: 20px 10px;
}
/* /Content container text */

/* Booking button */
.about-booking-button {
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  background-color: #f0d3b0;
  color: #222;
  font-size: 18px;
  cursor: pointer;
}

.about-booking-button:hover {
  background-color: #503e29;
  color: white;
}
/* /Booking button */

/* Text container position */
.about-text-section-container.left-side {
  grid-column: 1 / 2;
  grid-row: 1;
}

.about-text-section-container.right-side {
  grid-column: 2 / 3;
  grid-row: 1;
}
/* /Text container position */

/* Image container position */
.about-text-paragraph-image.left-side {
  grid-column: 1 / 2;
  grid-row: 1;
}

.about-text-paragraph-image.right-side {
  grid-column: 2 / 3;
  grid-row: 1;
}
/* /Image container position */

/* Container Image container */
.about-text-paragraph-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /Container Image container */

/* About page map container */
.about-map-container {
  height: 100%;
  width: 100%;
 }
/* /About page map container */

  /* About page map */
  #about-page-map {
    width: 100%; 
    height: 100%;
    border-radius: 0px 10px 10px 0px;
  }
/* /About page map */


/* Container image */
.about-text-paragraph-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* /Container image */

/* Container image rounded corners */
.about-text-paragraph-image.left-side img {
  border-radius: 10px 0px 0px 10px;
}

.about-text-paragraph-image.right-side img {
  border-radius: 0px 10px 10px 0px;
}
/* /Container image rounded corners */

/* /About Text Containers */



/* Navbar */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-size-adjust: 100%;
  background-color: #FFF7F1; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  height: 115px;
  width: 100%;
}
.logo {
  max-width: 115px;
  height: auto;
  margin-right: 5px; 
}

.additional-content {
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.additional-content h2 {
  font-size: smaller;
  position: center;
  color: black;
  margin-bottom: 5px;
}
.additional-content h1{
  font-size: x-large;
  color : black;
  margin-bottom: 5px;
}
.additional-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
}

.nav {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-grow: 1;
}

.nav li {
  list-style: none;
}

.nav a {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: 550;
  color: black;
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: white;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-size-adjust: 100%;
  position: relative;
  background-color: #FFF7F1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 115px;
}

.translate {
  display: flex;
  top: 0;
  /* margin-right: 500px; */
  position: absolute;
  right: 0;
}

.logo {
  max-width: 115px;
  height: auto;
  margin-right: 5px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 15px 0;
}

.cart-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

.cart-icon img {
  width: 32px;
  height: 32px;
}

#cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
.cart-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 250px;
  max-height: 60vh; /* Set maximum height to 60% of viewport */
  overflow-y: auto; 
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
}

.cart-dropdown ul {
  list-style-type: space-counter;
  padding: 0;
  margin: 0;
}

.cart-dropdown li {
  display: flex;
  list-style-type: space-counter;
  align-items: center;
  margin-bottom: 10px;
}

.cart-dropdown li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-dropdown {
  max-height: 90vh; /* Ensure it doesn't exceed the viewport height */
  margin-top: 165px; ;
}

/* /Navbar */


/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF7F1;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 550;
  color: black;
}
.footer p {
  margin: 0;
  display: flex;
  align-items: center; 
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 5px; 
}
/* /Footer */



/* Media Query for responsiveness */

@media (max-width: 2000px) {

  /* Content container title */
  .about-text-paragraph-title {
    font-size: 30px;
  }
  /* /Content container title */

  /* Content container text */
  .about-text-paragraph {
    font-size: 16px;
  }
  /* /Content container text */

  /* Booking button */
  .about-booking-button {
    padding: 10px 20px;
    font-size: 14px;
  }

}


@media (max-width: 1760px) {

  /* Content container title */
  .about-text-paragraph-title {
    font-size: 24px;
  }
  /* /Content container title */

  /* Content container text */
  .about-text-paragraph {
    font-size: 12px;
  }
  /* /Content container text */

}

@media (max-width: 1440px) {
  
/* About image container */
  .about-image {
    height: 400px;
  }

  .about-text-section-container {
    padding: 20px 20px;
  }

  /* About image active */
  .about-image.active {
    flex: 1;
  }

  .section.about-image {
    background-position-x: 100px;
    background-position-y: 100px;
  }

  .about-image {
    height: 500px;
    box-shadow: 0 0 2.5px 1px transparent;
  }

  /* About header images */
  #about-image-1 {
    background: url("https://images.pexels.com/photos/3090832/pexels-photo-3090832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background-position-y: -25px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #about-image-2 {
    display: none;
  }

  #about-image-3 {
    display: none;
  }

  #about-image-4 {
    display: none;
  }

  #about-image-5 {
    display: none;
  }

  /* Booking button */
  .about-booking-button {
    padding: 5px 10px;
    font-size: 12px;
  }

}


@media (max-width: 900px) {

  /* Main */
  main {
    width: 100%;
    max-width: 1728px;
    height: auto;
    padding: 50px 10px;
  }
  /* /Main */

  /* Universal Section Style */
  .section {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  /* /Universal Section Style */

    /* Text container position */
  .about-text-section-container.left-side {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .about-text-section-container.right-side {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  /* /Text container position */

  /* Image container position */
  .about-text-paragraph-image.left-side {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .about-text-paragraph-image.right-side {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  /* Container image rounded corners */
  .about-text-paragraph-image.left-side img {
    border-radius: 10px 10px 0px 0px;
  }

  .about-text-paragraph-image.right-side img {
    border-radius: 10px 10px 0px 0px;
  }
  /* /Container image rounded corners */


  /* Content container title */
  .about-text-paragraph-title {
    font-size: 32px;
  }
  /* /Content container title */

  /* Content container text */
  .about-text-paragraph {
    font-size: 16px;
  }
  /* /Content container text */

  .about-text-section-container a {
    width: 100%;
    height: 75px;
  }

  /* Booking button */
  .about-booking-button {
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    height: 100%;
  }

  #about-page-map {
    height: 500px;
    border-radius: 10px 10px 0px 0px;
  }

}


@media (max-width: 480px) {
  /* Styles for phones */
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    flex-direction: column;
  }

  .nav a {
    padding: 10px 0;
  }

  .logo {
    max-width: 100px;
  }
}

/* /Media Query for responsiveness */
