/* Imports */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&display=swap');
/* /Poppins */

/* Sacremento */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&family=Sacramento&display=swap');
/* /Sacremento */

/* Hachi Maru Pop */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;700&family=Sacramento&display=swap');
/* /Hachi Maru Pop */

/* /Imports */

/* Fonts */
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
/* /Fonts */

/* 
  Colors

    Body color: #caad84
	Container color: #d5ba99
    Text color: 
    Title color: 
    Drop shadow color:

*/



/* Document stylings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
}

/* /Document stylings */

